<div class="container" >
  <div class="wrapper overlay" *ngIf='mode === "indeterminate"'>
    <div class="inner">
      <mat-progress-spinner 
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
      style="margin:0 auto;" >
</mat-progress-spinner>
</div>
  </div>
  
    <mat-form-field appearance="fill">
        <mat-label>Countries</mat-label>
        <mat-select (selectionChange)=filterdCountry($event)>
          <mat-option *ngFor="let country of data " [value]="country.country">
            {{country.country}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>
